
/* Given CSS */
.hero {
    background-image:url(../img/jumbotron.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

.min-vh-75 {
    min-height:75vh !important;
}

.heading-1 {
    font-size:52px;
    font-weight:normal;
}

.w-65 {
    width:65%;
}  
/*  */ 

/* Custom CSS */ 
.spaghetti_background {
    background-image: url("/Task 7/images/spaghetti_header.jpg");

} 

.info_text {
    color: #0042D1;
} 

.pizza_adjust {
    filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
}